h1 {
    color: blue;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight: 1100;
    text-align: center;
    line-height: 1.6;
}
h2 {
    color: red;
    font-family: 'Abril Fatface'
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}
.email-icon {
    font-size: 3rem;
    color: green;
}
.google-icon {
    color: red;
    font-size: 3rem;
}
a {
    color: blue;
}
.instagram-icon {
    background-color: orange;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 3rem;
    color: white;
}